<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style type="text/css">
      .img-fluid {
        width: 100%;
        height: auto;
      }
      .contact {
        position: relative;
        background-color: #e0e9f0;
      }
      .call {
        position: relative;
        background-color: #e0e9f0;
      }
    .row{
      position: absolute;
      margin-right: 0;
      margin-left: 0;
      border-bottom: 0px solid black;
      padding-top: 0px;
    }
    </style>
    <title>Contact Aiden Boulevard</title>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">

  </head>
  <body>

    <div class="row">
      <div class="col-md-6 call">
        <img src="{% static 'img/CallMe.jpg' %}" class="img-fluid">
      </div>
      <div class="col-md-6 contact text-center" id="contact">
        <h1 style="font-size: 10vmin;">
          Want to get in touch?
        </h1>
        <p style="font-size: 5vmin;">Email me at <br><span style="background-color: lightskyblue; border-radius: 10px; border-color: lightskyblue;"> contact@aidenblvd.xyz </span></p>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>